<font name="Moronicity" size=12><!-- ignore this comment --><i></i>
<div style="my stupid style sheet">hello</div></font><img src="spacer.gif">
<div style="something else totally useless"><img src="spacer.gif"></div>
